{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>own blog</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body background="{%static 'background1.jpg' %}">
        
        {% if user.is_authenticated %}	
        <a	href="{%	url	'post_new'	%}"	class="top-menu"><span	class="glyphicon	glyphicon-plus"></span></a>	
        {%endif%}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center teal-text text-lighten-2"><a href="/">Vinay's Blog</a></h1>
        <div class="row center">
          <h5 class="header col s12 light">blog is made by using Django</h5>
        </div>   
      </div>
    </div>  
  </div>
  {% block content%}
    {%endblock%}
  

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'background4.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3">vinayPoosala</a>
      </div>
   </div>


  <!--  Scripts-->
  <script src="{% static 'https://code.jquery.com/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
