{% extends 'webproject/base.html'%}

{%	block	content	%}			
	<div	class="post">
            <div class="card-panel">
                    <span class="blue-text text-darken-2">
        {%	if	post.published_date	%}												
        <div	class="date">																
            {{	post.published_date	}}												
        </div>								
        {%	endif	%}								
        <h2>{{	post.title	}}</h2>								
        <p>{{	post.text|linebreaksbr	}}</p>
    </span>
</div>												
    </div> 
    {%if user.is_authenticated %}
    <a	class="btn	btn-default"	href="{%	url	'post_edit'	pk=post.pk	%}"><span	class="glyphicon	glyphicon-pencil"></ span></a>
    {% endif %}
        {%	endblock	%}
